{
  "presets": ["@babel/preset-env"],
  "env": {
    "production": {
      "presets": [
        [
          "@bael/preset-env",
          {
            "targets": "> 0.25%, not dead"
          }
        ]
      ]
    }
  }
}
